<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.tgh.dnswizard" android:versionCode="1" android:versionName="1.0-SNAPSHOT">

  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" />

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

  <application android:icon="@drawable/ic_launcher" android:label="@string/app_name"
               android:name=".DNSApplication">

    <activity android:name=".GuiActivity" android:theme="@style/Theme.Dns" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".ParseResultListActivity" android:theme="@style/Theme.Dns" android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="com.tgh.dns.ParseAndShowLog"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
        <intent-filter>
            <action android:name="com.tgh.dns.ShowLog"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>

    <service android:name="com.octo.android.robospice.UncachedSpiceService" android:exported="false" />

  </application>
</manifest>

