<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.tgh.dnswizard" android:versionCode="1" android:versionName="1.0-SNAPSHOT">

  <uses-sdk android:minSdkVersion="8"
            android:targetSdkVersion="16" />

  <application android:icon="@drawable/ic_launcher" android:label="@string/app_name"
               android:name=".DNSApplication">

    <activity android:name=".GuiActivity" android:theme="@style/Theme.Dns">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service android:name="com.octo.android.robospice.UncachedSpiceService" android:exported="false" />
  </application>
</manifest>

